include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include ../../blocks/mixin-wrap/mixin-wrap.pug
include ../../blocks/form-wrap/form-wrap.pug
include ../../blocks/footer/_footer.pug 
include ../../blocks/modal/_modal.pug
include js-css.pug

include ../../blocks/header/_header.pug
include ../../blocks/topLine/_topLine.pug
include ../../blocks/top-nav/_top-nav.pug 
include ../../blocks/headerBlock/_headerBlock.pug
include ../../blocks/sForm/_sForm.pug

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")

		block title
			title title
		meta(name="description", content="Мы digital-компания, которая оказывает современные и сильные услуги в сферах разработки, продвижения и брендинга. Сейчас мы разрабатываем свой новый сайт. Если вы заинтересованы в сотрудничестве — оставьте заявку и мы свяжемся с вами.")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		//- meta(name="viewport", content="width=device-width, shrink-to-fit=no")
		//- meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no,  shrink-to-fit=no")
		meta(content="width=570,  maximum-scale=1 , user-scalable=no"  name="viewport")
		script.
			let viewport = document.querySelector("meta[name=viewport]");
			if (window.innerWidth > 570) viewport.content = "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
		link(type="image/ico", href='img/favicon-w.png', rel='shortcut icon')
		<meta name="format-detection" content="telephone=no">
		style
			| body::after {
			|   content: '';
			|   position: fixed;
			|   left: 0;
			|   top: 0;
			|   width: 100%;
			|   z-index: 2000;
			|   height: 100%;
			|   background-color: white;
			|
			| }
			| body:after {
			|   --s: 1s;
			|   -webkit-transition: all var(--s) ease-in-out;
			|   transition: all var(--s) ease-in-out;
			| }
			| body:not(.loaded_hiding):after {
			|   -webkit-transform: translateY(-100%);
			|   transform: translateY(-100%);
			| }
			| .preloader-img{
			|   position: fixed;
			|   top: 50%;
			|   left: 50%;
			|   z-index: 3000;
			|   transform: translateX(-50%) translateY(-50%);
			|
			|   width: 60px;
			|   height: 60px;
			|   background-image: url("data:image/svg+xml,%3Csvg width='60' height='37' viewBox='0 0 60 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M45.962 36.7499H38.8937C37.5931 36.7499 36.6153 36.0502 36.2027 34.8214L32.1483 23.2142H27.9414L23.887 34.8214C23.4744 36.0413 22.4966 36.7499 21.196 36.7499H14.1097C12.8091 36.7499 11.8314 36.0502 11.4187 34.8303L7.26566 23.2142H4.37734C3.39064 23.2142 2.50262 22.6132 2.15279 21.7073L0.681716 18.1103C0.385708 17.3658 0.484378 16.5226 0.932875 15.8589C1.38137 15.2041 2.11691 14.8094 2.90626 14.8094H4.27867L0.188369 3.35476C0.0179398 2.98699 0 2.61923 0 2.36807C0 2.0003 0.0896997 1.61459 0.260129 1.21991L0.304978 1.11227L0.367768 1.0136C0.618927 0.636867 1.21991 0.00896981 2.43983 0.00896981H9.26596C10.6294 0.00896981 11.643 0.780385 11.9749 2.08103L16.1011 14.8094H19.9133L24.2906 2.01824C24.7122 0.753476 25.7169 0 26.9816 0H33.0094C34.2742 0 35.2788 0.753476 35.7004 2.01824L40.0777 14.8094H43.8989L48.0431 2.03618C48.4736 0.753476 49.4513 0.0179396 50.734 0.0179396H57.5602C58.3495 0.0179396 59.0402 0.340858 59.4708 0.914935C59.7668 1.25579 59.8924 1.63253 59.9372 1.83884C59.9821 2.0003 60 2.16176 60 2.31425C60 2.43983 60 2.64614 59.9462 2.87935C59.9193 3.02287 59.8744 3.16639 59.8116 3.30094L55.7303 14.8184H57.1745C57.9369 14.8184 58.6635 15.1861 59.112 15.7961C59.5605 16.406 59.695 17.2133 59.4708 17.9399L58.3226 21.5548C57.9907 22.5505 57.0668 23.2142 56.0353 23.2142H52.7523L48.6261 34.8931L48.5992 34.9469C47.8816 36.5167 46.6348 36.7499 45.962 36.7499ZM38.795 34.0499C38.813 34.0499 38.8489 34.0589 38.9027 34.0589H45.962C45.9889 34.0589 46.0069 34.0589 46.0159 34.0589C46.0338 34.041 46.0786 33.9961 46.1325 33.8795L50.8686 20.5322H55.8469L56.8067 17.5183H51.945L57.1924 2.7179H50.734C50.7071 2.7179 50.6892 2.7179 50.6713 2.7179C50.6533 2.74481 50.6264 2.79862 50.5905 2.88832L45.8544 17.5183H38.1582L33.1529 2.89729C33.1171 2.78966 33.0812 2.73584 33.0632 2.7179C33.0543 2.7179 33.0363 2.7179 33.0094 2.7179H26.9816C26.9547 2.7179 26.9368 2.7179 26.9188 2.7179C26.9009 2.74481 26.865 2.79863 26.8381 2.89729V2.90626L21.8329 17.5183H14.1366L9.38257 2.77172C9.3736 2.74481 9.36463 2.7179 9.36463 2.69996C9.34669 2.69996 9.31081 2.69099 9.27493 2.69099H2.80759L8.0909 17.4914H3.33682L4.58364 20.5053H9.16729L13.9662 33.9423C13.9842 33.9871 13.9931 34.0141 14.0021 34.032C14.02 34.032 14.0559 34.041 14.1097 34.041H21.196C21.2408 34.041 21.2767 34.041 21.3036 34.032C21.3126 34.0141 21.3216 33.9871 21.3395 33.9423L21.3485 33.9244L26.0398 20.5053H34.0679L38.7592 33.9423C38.7681 34.0051 38.7861 34.032 38.795 34.0499ZM43.1724 25.7976H41.0016L39.1987 20.5232H44.8856L43.1724 25.7976ZM19.0073 25.7976H16.8366L15.1323 20.5232H20.8193L19.0073 25.7976ZM33.0005 17.5004H27.0803L29.0088 11.9749H31.0629L33.0005 17.5004Z' fill='%23191C1F'/%3E%3C/svg%3E%0A");
			|   background-repeat: no-repeat;
			|   background-position: center;
			|   background-size: contain;
			| }
		+allcss()
		| <!-- Yandex.Metrika counter -->
		| <script type="text/javascript" >
		| (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		| m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
		| (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
		| ym(79272604, "init", {
		| clickmap:true,
		| trackLinks:true,
		| accurateTrackBounce:true,
		| webvisor:true
		| });
		| </script>
		| <noscript><div><img src="https://mc.yandex.ru/watch/79272604" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		| <!-- /Yandex.Metrika counter -->
		|
	block variables
	//- style.
	//- 	.loaded_hiding {  opacity: 0; pointer-events: none;  } .loaded_hiding::before { display: none; }
	//- body.loaded_hiding(class= mainPage) 
	body(class= mainPage data-bg= bg)
		.preloader-img
			//-img(src="img/svg/small-logo.svg" alt="")
		.main-wrapper
			block pagecontent
				h3 content
		+modal()
		+allcjs()
		
		